/* Material.css */

.material-container {
  display: flex;
  gap: 40px; /* space between form and table */
  align-items: flex-start; 
}

.material-content {
 flex: 1;
}

.material-table-section {
  flex: 2;
  width: 60%;
}

.material-content form {
  margin-bottom: 10px; 
}

.material-container label {
  display: block;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}

.material-content input {
  width: 300px;
  padding: 6px;
  margin-top: 4px;
  box-sizing: border-box;
}

.material-form .button-group {
  display: flex;
  gap: 10px; /* spacing between buttons */
  margin-top: 15px;
}


.material-form .clear-button {
  margin-left: 0; /* reset margin since gap handles spacing */
}

.material-table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

.material-table th,
.material-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.material-table th {
  background-color: #f2f2f2;
}






