.calculator-container {
  display: flex;
  gap: 40px; /* space between form and table */
  align-items: flex-start; 
}

.input-section{
  flex:1;
  font-family: Arial, sans-serif;
  padding: 1rem;
}

.result-section{
  flex: 2;
  width: 60%;
}

.resultsub {
  width: 60%;
}

/* Wrap each label + input/select in a container */
.form-group {
  display: flex;
  flex-direction: column;  /* Stack label above input */
  margin-bottom: 15px;    /* space between groups */
  align-items: center;
}



label {
    margin-bottom: 5px; /* space below label */
    font-weight: bold;
    display: block;
}

input, select {
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* full width of container */
  width: 100%;
  box-sizing: border-box;

}

.custom-material {
  padding-left: 10px;
  border-left: 2px solid #ccc;
}

.loading-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 18px;
}

.error {
  color: red;
  margin-top: 10px;
}
