/* Users.css */

.container {
  display: flex;
  gap: 40px; /* space between form and table */
  align-items: flex-start; 
}

.userformsection {
  flex: 1;
}

.usertablesection {
  flex: 2;
  width: 60%;
}

.userformsection form div{
  margin-bottom: 10px;
}

.userformsection label {
  display: block;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}

.userformsection input[type="text"],
.userformsection input[type="password"],
.userformsection input[type="email"],
.userformsection select {
  width: 300px;
  padding: 6px;
  margin-top: 4px;
  box-sizing: border-box;
}


.userstable th, td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.userstable {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
}

